/* General styles */

/* Container for the whole about page */
.about-container {
  width: 100%;
  /* max-width: 1200px; */
  margin: 50px 0px;
  padding: 0px 80px;
  font-family: "Poppins";
}

/* Header section with image and text */
.about-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.image-container img {
  width: 400px;
  height: auto;
  border-radius: 10px;
}

.header-content {
  max-width: 600px;
}

.header-content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #1c1c1c;
}

.header-content p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #555;
}

/* Doctor details and clinic info */
.doctor-details,
.clinic-info,
.services {
  margin-bottom: 30px;
}

h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 15px;
}

p,
li {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #666;
}

strong {
  color: #1c1c1c;
}

/* List in services */
ul {
  list-style: none;
}

ul li {
  margin-bottom: 10px;
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
  .about-header {
    flex-direction: column;
    text-align: center;
  }

  .image-container img {
    width: 100%;
    max-width: 300px;
  }

  .header-content h1 {
    font-size: 2rem;
  }

  .header-content p {
    font-size: 1.1rem;
  }

  h2 {
    font-size: 1.8rem;
  }
}
