/* Blogs  */
.blogs-home {
  width: 100vw;
  height: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogs-home > p:first-child {
  margin-top: 80px;
}

.blogs-home > h1 {
  width: 100%;
  /* color: #333; */
  background: -webkit-linear-gradient(#2b4c7e, #1c1c1c);
  -webkit-background-clip: text; /* For WebKit browsers */
  background-clip: text; /* Standard property */
  -webkit-text-fill-color: transparent; /* Make the text transparent */
  color: transparent;
  text-align: center;
  font-family: "Kanit";
  font-size: 4rem;
}

/* .blogs-main {
  width: 95%;
  height: 630px;
  background-color: chartreuse;
} */

.blogs-content > div {
  display: flex;
  width: 50%;
  height: 100%;
}
/* 
.blogs-content {
  background-color: blueviolet;
  width: 100%;
  height: 90%;
} */

/* .blogs-text {
  background-color: red;
  padding: 100px;
  display: flex;
  flex-direction: column;
}

.blogs-text > p {
  margin: 20px 0px;
  font-size: 1.5rem;
}

.blogs-text > h1 {
  margin: 20px 0px 0px;
  font-size: 3.2rem;
} */

/* Container for Blog Cards */
.blog-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 50px 20px;
}

/* Individual Blog Card */
.blog-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.blog-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.2s ease;
}

.blog-card h3 {
  margin: 0;
  height: 80px;
  padding: 10px 16px 3px;
  font-size: 1.2em;
  /* text-align: center; */
  color: #444;
  color: #2e3b4e;
}

.icon {
  font-size: 0.8rem;
  margin-right: 7px;
}
.blog-card h4 {
  margin: 0;
  padding: 0px 16px 7px;
  font-size: 0.9rem;
  font-weight: 400;
  color: #2e3b4e;
}

.blog-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.blog-card:hover img {
  transform: scale(1.05);
}

/* Mobile View: Single Column */
@media (max-width: 768px) {
  .blogs-home > h1 {
    font-size: 2.5rem;
  }
  .blogs-home > p {
    text-align: center;
  }
  .blog-cards-container {
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 10px;
  }

  .blog-card {
    margin: 0 auto;
    width: 90%; /* Ensures consistent width for smaller screens */
  }

  .blog-card img {
    height: 180px; /* Adjust height for smaller screens */
  }

  .blog-card h3 {
    font-size: 0.9rem;
  }

  .blog-card h4 {
    font-size: 0.85rem;
  }
}
