/* Contact.css */

.contact-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100vw;
  background-color: #f6f2ed;
}

.contact-header {
  text-align: center;
  padding: 20px;
  background: linear-gradient(135deg, #5cb6b8, #abc6d7);
  color: #3f3944;
  width: 78%;
}

.contact-header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.contact-header p {
  font-size: 1.2rem;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  padding: 40px 20px;
}

.contact-details {
  flex: 1;
  max-width: 600px;
  padding: 20px;
  background-color: #e6c9b6;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-details h2 {
  color: #856a6f;
  margin-bottom: 10px;
}

.contact-details p,
.contact-details a {
  color: #3f3944;
  font-size: 1.1rem;
}

.contact-details a:hover {
  color: #5cb6b8;
  text-decoration: underline;
}

.contact-map {
  flex: 1;
  max-width: 600px;
  padding: 20px;
}

.contact-map h2 {
  color: #856a6f;
}

.geriatric-care {
  padding: 40px 20px;
  background-color: #9d9ea9;
  color: #fff;
  width: 100%;
  max-width: 1200px;
  border-radius: 8px;
  margin-top: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.geriatric-care h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.geriatric-care p {
  font-size: 1.1rem;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .contact-info {
    flex-direction: column;
    align-items: center;
  }

  .contact-details,
  .contact-map {
    max-width: 100%;
    margin-bottom: 20px;
  }
  iframe {
    width: 250px;
  }
}
